body {
  font-family: sans-serif;
}

.input-group {
  width: 60%;
  margin: auto;
  margin-bottom: .5em;
  font-family: 'Helvetica', sans-serif;
}

.description {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  text-align: center;
}

.input-group {
  margin-top: 20px;
}

.container {
  font-size: 1em;
  width: 60%;
  margin-top: 20px;
  font-family: 'Helvetica', sans-serif;
}

#chips {
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1em;
  display: inline;
}

.vis {
  display: inline;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3em;
}

.NER {
  display: inline;
  font-family: 'Source Code Pro', monospace;
  font-size: 2em;
  font-weight: bold;
  color: orange;
}
