<div class="container">
  <div style="text-align: center; margin-top: 10px">
    <div class="vis">vis</div>
    <div class="NER">NER</div>
    <sub>&nbsp; using <a href="https://github.com/zalandoresearch/flair"><img src="../../assets/flair_logo.svg"
                                                                              alt="flair_logo" width="24" height="24"
                                                                              style="display: inline"></a></sub>
  </div>
  <br>
  <div style="text-align: center">
    <div id="chips">
      &nbsp;
      <igx-chip color="#aadb51">
        <span>Person</span>
      </igx-chip>
      &nbsp;
      <igx-chip color="#ffe05d">
        <span>Organisation</span>
      </igx-chip>
      &nbsp;
      <igx-chip color="#d2ceff">
        <span>Location</span>
      </igx-chip>
      &nbsp;
      <igx-chip color="lightblue">
        <span>Miscellaneous</span>
      </igx-chip>
    </div>
  </div>

  <igx-input-group type="box" class="input-group">
    <label for="query"></label><textarea id="query" igxInput placeholder="Enter raw-uncased text" autocomplete="off"
                                         [(ngModel)]="queryText"></textarea>
  </igx-input-group>
  <div style="text-align: center">
    <button igxButton="outlined" igxButtonColor="black" igxButtonBackground="orange" (buttonClick)="manageHighlight()"
            style="font-family: 'Helvetica', sans-serif">Extract Entities
    </button>
  </div>
  <div id="output-text" class="container">
  </div>
</div>
